{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Email Spam Dectection</title>
  <!-- Bootstrap style sheet -->
  <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />

</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top py-4">
      <div class="container-fluid">

        <a class="navbar-brand ms-5" href="{% url 'home' %}">Mail<span>Spam</span> </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto me-5">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#check_spam">Check</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#dataset">Contact</a>
            </li>
          </div>
        </div>
      </div>
    </nav>

  <div class="container-fluid">
    <div class="content">
      {% block content %}

      {% endblock content %}

    </div>
  </div>


  <div class="container-fluid text-center footer">
    <div class="footer-text text-muted">MailSpam &#169; 2023. All Rights Reserverd.</div>
  </div>

  <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

  <script>
    window.addEventListener('scroll', function() {
        var navbar = document.querySelector('.navbar');
        if (window.scrollY > 100) {  
            navbar.classList.add('navbar-scrolled');
        } else {
            navbar.classList.remove('navbar-scrolled');
        }
    });
</script>

</body>

</html>